@media all (min-width: 1024px) adnd (max-width:1280px){
H1 {
Font-size:40px;
}
}

html {
  background-color:grey;
}

.nav-background {
  background-color: grey;
  padding-top:20px;
}

 #main-title {
  font-size:90px;
  background-color: aqua;
  color:grey;
  font-family: system-ui;
  width:fit-content;
  

}
 a:hover {
  color:blanchedalmond;
} 

/*Top Nav Contents*/

.row {
  padding-left: 1500px;
  display:flex;
  flex-direction:row;
  align-content:flex-end;
  justify-content: space-around;
  color:aqua;
  font-size:40px;
}


.about-me {
  border-bottom:solid;
}

.about-me:hover {
  color:aliceblue
}

.work {
  border-bottom:solid;
}

.work:hover {
  color:aliceblue;
}

.contact-me {
  border-bottom:solid;
}

.contact-me:hover {
  color:aliceblue;
}

.resume {
  border-bottom:solid;
}

.resume:hover {
  color:aliceblue;
}

.breaker { 
  background-image: url(/images/02-hero-bg.jpg);
  height: 500px;
}

.subtitle {
  background-color:aqua;
  padding-right: 200px

}
h1 {
  font-size:50px;
  font-family:sans-serif;
  padding-right:40px;
  color:aqua;
}

h2 {
  font-size:40px;
  float:right;
  padding-top: 300px;
  color:aliceblue 
}
  

/* Main About Me Section */

.about-me-whole {
  display:flex;
  flex-direction:row;
  padding-top:50px;
}

.about-me-left {
  padding-left: 309px;
  border-right:solid red;
  width:fit-content;
  height: 300px;

}

.about-me-main {
  width:fit-content;
  margin:10px;
  float:left;
}


  


/* This is the 'Work' section */

.work-whole
 {
  display:flex;
  margin:10px;
  height:600px;
  padding-top:60px;
  
  }

.work-aside {
  padding-left: 318px;
  border-right:solid red;
  width:fit-content;
  height: 1376px;
  float:left;
  
}

.sr-background {
  background-image: url(../images/02-portfolio-4.jpg);
  display:flex;
  height:600px;
  width: 1790px;
  margin-right:5px;
  margin-left: 15px;
  border: 2mm ridge black;
}

.surf-report {
  background-color: aqua;
  display:flex;
  width:fit-content;
  font-size: 40px;
  height:auto;
  margin-top:auto;
  margin-bottom:20px; 

}

.box {
  display:flex;
  align-items: flex-start;
  margin-top:60px;
  margin-right:15px;
}

/* . This section is for the LED wall section */

.led-wall {
  background-color: aqua;
  width:fit-content;
  font-size: 40px;
  height:auto;
  margin-top:auto;
  margin-bottom:20px;
  
  
  
}

.led-background {
  background-image: url(/images/02-portfolio-1.jpg);
  display:flex;
  height:300px;
  width: 800px;
  float:left; 
  margin-left:510px;
  border: 2mm ridge black;
  
}
 
/* This section is for the calculator project */

.calculator-background {
background-image: url(/images/02-portfolio-2.jpg);
display:flex;
  height:300px;
  width: 800px;
  margin-left:510px;
  border: 2mm ridge black;
}

.calculator {
  background-color: aqua;
  width:fit-content;
  font-size: 40px;
  height:auto;
  margin-top:auto;
  margin-bottom:20px;

}

/* This section is for the second row of 2 projects*/

.box2 {
  display:flex;
  align-items: flex-start;
  margin-top:60px;
  margin-right:15px;
}

.pp-background {
  background-image: url(/images/02-portfolio-3.jpg);
  display:flex;
  height:300px;
  width: 800px;
  margin-left:510px;
  border: 2mm ridge black;

}

.pp {
  background-color: aqua;
  width:fit-content;
  font-size: 40px;
  height:auto;
  margin-top:auto;
  margin-bottom:20px;
}

.run-buddy-background{
  background-image: url(/images/02-run-buddy.jpg);
  display:flex;
  height:300px;
  width: 800px;
  margin-left:510px;
  border: 2mm ridge black;
  

}

.run-buddy {
  background-color: aqua;
  width:fit-content;
  font-size: 40px;
  height:auto;
  margin-top:auto;
  margin-bottom:20px;
}

.h3 {
  font-size: 20px;
  text-align: left;
}

/* FOOTER */

footer {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.contact-me2 {
  font-size:60px;
  padding-right:65px;
  padding-left:200px;
  margin-top:60px;
  border-right: solid red;
  
}

.email {
  border-bottom:solid black;
  margin-left:300px;
  font-size:30px;
}

.email:hover {
    color:aliceblue
  }

.github {
  border-bottom:solid black;
  margin-left:200px;
  font-size:30px;

}

.github:hover{
  color:aliceblue;
}

.spotify {
  border-bottom:solid black;
  margin-left:200px;
  font-size:30px;

}

.spotify:hover{
  color:aliceblue;
}

.twitter {
  border-bottom:solid black;
  margin-left:200px;
  font-size:30px;
}
.twitter:hover{
  color:aliceblue;
}

p {
  font-size:40px;
}

/* Media Queries */

@media (max-width: 480px) {
  .text {
    font-size: 16px;
  }

  .img {
    height:auto;
    width:auto;
  }
 
}
@media (max-width: 1024px) {
  .text {
    font-size:auto;
  }

  .box .box2 .row {
    height: auto;
    width: auto;
  }
}