

html {
  background-color: #52111e;

}

.container {
  display:grid;
  grid-template-rows: 7, 1fr;
  grid-template-columns: 4, 1fr;
  grid-gap:10px;
  width:auto;
  grid-template-areas: 
  "header nav nav nav"
  "breaker breaker breaker breaker"
  "aboutMe-left aboutMe-right aboutMe-right aboutMe-right"
  "projects-left projects-1 projects-1 projects-1"
  "projects-left projects-2 projects-3"
  "projects-left projects-4 projects-5"
  "footerLeft footerRight footerRight footerRight";
}
.header {
  grid-column: span 2;
}

h1 {
  color: white;
}

.header, .nav {
  height:100px;
  background-color: grey;
}

.nav-title {
  display:flex;
  align-items: center;
  background-color: aliceblue;
  width:fit-content;
  font-size:50px;
}

#adam-seville {
  color: #52111e;
}

.nav {
  display:flex;
  align-items:center;
  justify-content: space-evenly;
}


.breaker {
  grid-column:span 3;
  height:300px;
  background-image: url(/images/02-hero-bg.jpg);
}

/* about me section START */

.aboutMe-left, .aboutMe-right{
  height: 200px;

}

.aboutMe-left {
  display:flex;
  justify-content: center;
  align-items:center;
  padding-right:10px;
  grid-row: span 1;
  border-right: solid red;
}

.aboutMe-right {
  grid-column:span 2;
}

p {
  font-size: 30px;
  overflow: auto;
  color: white;
}

h2 {
  color:#52111e;
}

/* Projects START  */

.projects-left {
  grid-row: span 3;
  grid-column:span 1;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-right:10px;
  border-right:solid red;
}

.projects-1 {
  display:flex;
  grid-column:span 2;
  background-image: url(../images/02-portfolio-4.jpg); 
  height:600px;
}

h3 {
  display:flex;
  align-items: flex-end;
  background-color:white;
  width:fit-content;
  height:fit-content;
  font-size: 30px;
  
}

.projects-2 {
  background-image: url(../images/02-portfolio-1.jpg);
  height:300px;
}

.projects-3 {
  background-image:url(../images/02-portfolio-2.jpg);

}

.projects-4 {
  background-image: url(../images/02-portfolio-3.jpg);
  height:300px;
}

.projects-5 {
  background-image: url(../images/02-run-buddy.jpg);

}

/* This is the FOOTER section */

.footerLeft {
  border-right:solid red;
  display:flex;
  justify-content: center;
  align-items:center;
  padding-right:10px;
  height:200px;
}

.footerRight {
  display:flex;
  justify-content: space-around;
  align-items: center;
  grid-column:span 2;
  
}

#spotify, #github, #email, #twitter {
  height:30px;
  padding-right:15px;
}


a{
  font-size: 25px;
  color: white;
}

a:hover {
  color: green;
}

 
  