html{
  background-color:bisque;
}

.nav-background {
  background-color: grey;
  padding-top:20px;
}

 h1 {
  font-size:90px;
  background-color: aqua;
  color:grey;
  font-family: system-ui;
  width:fit-content;
  

}
 a:hover {
  color:blanchedalmond;
} 

.container {
  padding-left: 1500px;
  display:flex;
  flex-direction:row;
  align-content:flex-end;
  justify-content: space-around;
  color:aqua;
}




